.containerGeneral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1440px;
    background-color: darkgray
}

.containerRight{
    background-color: darkgray
}

.containerLeft{
    background-color: black;
}

.containerDadosContato{
    text-align: center;
    color: aliceblue;
    padding-top: 100px;
}

.containerDadosReferencia{
    text-align: center;
    color: aliceblue;
    padding-top: 200px;
}

#contato{
    text-align: center;
    dominant-baseline: auto;
    color: aliceblue;
    font-size: x-large
}

.containerSubtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px
    
}

.img {
    display: inline-block;
    vertical-align: top;
}

#subTitulo{
    text-align: center;
}

.cartaApresentacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border: solid 3px;
    border-radius: 20px;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}

.listaExperiencias {
    text-align: center;
    border: solid 3px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.listaFormacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border: solid 3px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.referencia {
    text-align: left;
}

.expGrafico {
    position: relative;
    width: 520px;
    margin: 0 auto;
    padding: 50px 0;
}

.expGrafico li {
    display:inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 3px;
    border-radius: 20px;
    margin-top: 10px
}

.expTitulo {
    font-size: 15px;
}

.descricao {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 0; 
}