.containerGeneral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1440px;
    background-color: darkgray
}

.containerRight{
    background-color: darkgray
}

.containerLeft{
    background-color: black;
}

.containerDadosContato{
    text-align: center;
    color: aliceblue;
    padding-top: 100px;
    line-height: 30px;
    transform: scale(1);
    transition: 1s all;
}

.containerDadosReferencia{
    text-align: center;
    color: aliceblue;
    padding-top: 200px;
    font-weight: bold;
    color: aliceblue;
    font-size: 20px;
    line-height: 30px;
    transform: scale(1);
    transition: 1s all;
}

.containerDadosReferencia:hover {
    transform: scale(1.05);
}

.containerDadosContato:hover {
    transform: scale(1.05);
}

.contato{
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    font-size: 22px;
}

.contatoLogo {
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    font-size: 22px;
}

.contatoLogo img {
    width: 40px;
    padding: 5px 1em 0px 0em;
    margin: 0em -12px -5px;
}

.containerSubtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px
    
}

.containerSubtitle h1 {
    font-size: 32px;
    font-weight: bold;
    margin: revert
}

.containerSubtitle p {
    font-size: 24px;
    font-weight: bold;
    margin: revert
}

.img {
    display: inline-block;
    vertical-align: top;
}

#subTitulo{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.cartaApresentacao {
    box-sizing: border-box;
    width: 80%;
    text-align: center;
    padding: 30px;
    border: solid 3px;
    border-radius: 20px;
    margin: 20px 20px 40px 80px;
    font-size: 22px;
    font-weight: bold;
    transform: scale(1);
    transition: 1s all;
}

.cartaApresentacao p {
    padding: 10px;
    margin: 0 0 1em;
    line-height: 30px;
}

.cartaApresentacao:hover{
    background-color: rgb(94, 94, 94);
    transform: scale(1.05);
}

.listaExperiencias {
    box-sizing: border-box;
    width: 80%;
    text-align: center;
    padding: 30px;
    border: solid 3px;
    border-radius: 20px;
    margin: 20px 20px 40px 80px;
    font-size: 22px;
    font-weight: bold;
    transform: scale(1);
    transition: 1s all;
    
}

.listaExperiencias h2 {
    font-size: 30px;
    padding: 10px;
    margin: 0 0 1em;
    line-height: 30px;
}

.listaExperiencias p {
    font-size: 20px;
    padding: 10px;
    margin: 0 0 1em;
    line-height: 20px;
}

.listaExperiencias:hover {
    background-color: rgb(94, 94, 94);
    transform: scale(1.05);
}

.listaFormacao {
    box-sizing: border-box;
    width: 80%;
    text-align: center;
    padding: 30px;
    border: solid 3px;
    border-radius: 20px;
    margin: 20px 20px 40px 80px;
    font-size: 22px;
    font-weight: bold;
    transform: scale(1);
    transition: 1s all;
}

.listaFormacao h3 {
    font-size: 30px;
    padding: 10px;
    margin: 0 0 1em;
    line-height: 30px;
}

.listaFormacao p {
    font-size: 20px;
    padding: 10px;
    margin: 0 0 1em;
    line-height: 20px;
}

.listaFormacao:hover{
    background-color: rgb(94, 94, 94);
    transform: scale(1.05);
}

.expGrafico {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.expGrafico li {
    display:inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 3px;
    border-radius: 20px;
    margin-top: 10px;
    transform: scale(1);
    transition: 1s all;
}

.expGrafico li h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 1em;
    line-height: 20px;
    
}

.expGrafico li p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin: 0 0 1em;
    line-height: 10px;
    
}

.expGrafico li:hover{
    background-color: rgb(94, 94, 94);
    transform: scale(1.05);
}

.expTitulo {
    font-size: 15px;
}

.descricao {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 0; 
}

a:hover {
    color: darkgoldenrod;
    transform: scale(1.05);
    transition: 1s all;
}

p:hover {
    color: aliceblue;
    transform: scale(1.05);
    transition: 1s all;
}

h1:hover{
    color: aliceblue;
    transform: scale(1.05);
    transition: 1s all;
}

h2:hover{
    color: aliceblue;
    transform: scale(1.05);
    transition: 1s all;
}

h3:hover{
    color: aliceblue;
    transform: scale(1.05);
    transition: 1s all;
}

h4:hover{
    color: darkgoldenrod;
    transform: scale(1.05);
    transition: 1s all;
}