.containerGeneral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1440px;
    background-color: darkgray
}

.containerRight{
    background-color: darkgray
}

.containerLeft{
    background-color: black;
}

.containerDadosContato{
    text-align: center;
    color: aliceblue;
    padding-top: 100px;
}

.containerDadosReferencia{
    text-align: center;
    color: aliceblue;
    padding-top: 200px;
}

#contato{
    text-align: center;
    dominant-baseline: auto;
    color: aliceblue;
    font-size: x-large
}

.containerSubtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px
    
}

.img {
    display: inline-block;
    vertical-align: top;
}

#subTitulo{
    text-align: center;
}

.listaExperiencias {
    text-align: center;
    border: solid 3px;
    border-radius: 20px;
    margin-top: 10px
}

.listaFormacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border: solid 3px;
    border-radius: 20px;
    margin-top: 10px
}
.base_graf_Em_Busca {
    width: 100%; /*tamanho lateral do grafico*/
    background-color: darkgray;
    height: 50px; /*altura do grafico, proporcional a 10 itens*/
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    border: solid 3px;
    border-radius: 5px;
    margin-top: 10px;
}
.Busca_nome {
    width: 15%;
    background-color: darkgray;
    height: 20px; /*se alterar altura, alterar também altura da tabela*/
    float: left;
}
.Busca_valor {
    width: 85%;
    background-color: darkgray;
    height: 20px; /*altura igual a da classe Busca_nome*/
    float: right;
}
.Busca_nome_centralizado {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.insert_busca_width {
    background-color: black;
    height: 14px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.referencia {
    text-align: left;
}