
body{
    background-color: silver;
}  
p, h1, h2, h3{
    text-align: center;
    background-color: white;
}

#ini{
    background-color: white;
}

#contato {
    background-color: skyblue;
}

div {
    text-align: center;
  }

footer, a{
    
    text-align: left;
    background-color: royalblue;
}
